<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="OpenAIRequestConfig" type="System.Configuration.NameValueSectionHandler" />
	</configSections>
	<OpenAIRequestConfig>
		<add key="model" value="text-davinci-003"/>
		<add key="maxTokens" value="100" />
		<add key="temperature" value="0" />
		<add key="top_p" value="1" />
		<add key="n" value="1" />
		<add key="stop" value="\n" />
		<add key="stream" value="false" />
		<add key="logprobs" value="null"/>
		<add key="stop" value="##" />
	</OpenAIRequestConfig>
</configuration>